html {
  background-color: #333;
}

/* Estilos para la barra de navegación */

header {
  position: relative; 
  z-index: 30; 
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 1;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #333;

  /*overflow: hidden;*/

  display: flex;
  flex-wrap: wrap;
}


nav li {
  float: left;
}


nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.3s ease;
}


nav li a:hover {
  background-color: #111;
  color: #fff;
}


/* Estilos para el menú desplegable */


nav li.dropdown {
  display: inline-block;
}


@media only screen and (max-width: 767px) {
  nav {
    height: 50px;
  }
}


.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: #f1f1f1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  color:#f1f1f1;
}


.dropdown-content a:hover {
  background-color: #f1f1f1;
  color:#111;
}


.dropdown:hover .dropdown-content {
  display: block;
  color: #111;
}


/* Estilos generales de la página */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


h1, h2, h3 {
  margin: 0;
}


#banner {
  background-color: #333;
  color: white;
  padding: 4vw;
  text-align: center;
  margin-top: 70px;
  position: relative;
  z-index: 20;
}


@media only screen and (max-width: 768px) {
  header ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  header li {
    margin: 10px 0;
  }
}


#featured, #custom, #history, #shop, #artists {
  background-color: #12103b;
  padding: 5vw;
  text-align: center;
  transition: all 0.5 ease;
  color: white;
}


#featured:hover, #custom:hover, #history:hover, #shop:hover, #artists:hover, #news:hover {
  background-color: #333;
  
}


.product-list, .custom-list, .artist-list, .news-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5vw;
}


.product-item-col-3, .custom-item-col-4, .artist-item-col-4, .news-item-col-6 {
  width: calc(100% / 3);
  margin: 5vw;
}


.custom-item-col-4, .artist-item-col-4 {
  width: calc(100% / 4);
}


.news-item-col-6 {
  width: calc(100% / 2);
}


img {
  max-width: 100%;
}


button {
  background-color: #344;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


button:hover {
  background-color: #111;
}


/* Estilos para la sección de noticias */


#news {
  background-color: #12103b;
  color: #fff;
  padding: 80px;
  text-align: center;
}


.news-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}


.news-item {
  width: 45%;
  margin: 0 2.5% 30px 2.5%;
}


.news-item:first-child {
  margin-left: 0;
}


.news-item:last-child {
  margin-right: 0;
}


.news-item img {
  max-width: 100%;
}


@media only screen and (max-width: 768px) {
  .news-item {
    width: 90%;
    margin: 0 5% 30px 5%;
  }
}


footer {
  background-color: #355;
  color: #fff;
  font-size: 14px;
  padding: 30px 0;
}


footer h4 {
  margin-bottom: 15px;
}


footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


footer ul li {
  margin-bottom: 5px;
}


footer ul li a {
  color: #fff;
  text-decoration: none;
}


@media (min-width: 768px) {
  footer .container {
    max-width: 960px;
    margin: 0 auto;
  }
}

